
/* Style the body */
body {
	margin: 0;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: "Open Sans";
}

ul {
	list-style-type: none;
}

li {
	/*padding-bottom: 10px;
	font-weight: 400;*/
}

.blocks {
	background-color: #eee;
	/*margin: 0 80px;*/
	margin-bottom: 40px;
}